.vehicle-registration-form-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url("../../../img/register-car.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 4rem;
    height: calc(100% - 4rem);
    overflow-y: auto;
}

.vehicle-registration-form {
    display: flex;
    flex-direction: column;

    background-color: white;
    width: 40%;
    padding: 2rem;
    border-radius: 1rem;
}

.vehicle-registration-form label {
    color: grey;
    font-size: 0.8rem;
    margin-right: 0.5rem;

}

.vehicle-registration-form input {
    margin-bottom: 1rem;
    border-style: none;
    border-bottom: solid thin grey;
    font-size: 1.5rem;
}

.vehicle-registration-form button {
    margin: 2rem auto 3rem auto;
    border: none;
    padding: 0.5rem 3rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.error-message {
    background-color: white;
    color: red;
    font-weight: bolder;
    border-radius: 1rem;
    padding: 1rem 3rem;
    text-align: center;
}