.client-dashboard-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 10rem);
    gap: 1rem;
}

.profile {
    background-image: url("../../../img/dashboard/blue.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1rem;
    padding: 1rem
}

.vehicles {
    background-image: url("../../../img/dashboard/grey.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1rem;
    padding: 1rem;
    grid-area: 1/2/3/3;
}

.settings {
    background-image: url("../../../img/dashboard/green-01.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1rem;
    padding: 1rem;
    grid-area: 1/ 4/ 1/ 5;
}

.active-reservations {
    background-image: url("../../../img/dashboard/orange.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1rem;
    padding: 1rem;
    grid-area: 2/ 3/ 2/ 5;
}

.reservation-history {
    background-image: url("../../../img/dashboard/pink.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1rem;
    padding: 1rem;
}

.register-vehicle {
    background-image: url("../../../img/dashboard/yellow.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1rem;
    padding: 1rem;

}